FIXIK_HTTP_SERVER_ADDR=":8080"
FIXIK_HTTP_SERVER_READ_HEADER_TIMEOUT=5s
FIXIK_HTTP_SERVER_READ_TIMEOUT=10s
FIXIK_HTTP_SERVER_WRITE_TIMEOUT=10s
FIXIK_HTTP_SERVER_IDLE_TIMEOUT=60s

FIXIK_HTTP_DEBUG_SERVER_ADDR=":8081"
FIXIK_HTTP_DEBUG_SERVER_READ_HEADER_TIMEOUT=5s
FIXIK_HTTP_DEBUG_SERVER_READ_TIMEOUT=10s
FIXIK_HTTP_DEBUG_SERVER_WRITE_TIMEOUT=10s
FIXIK_HTTP_DEBUG_SERVER_IDLE_TIMEOUT=60s

FIXIK_LOG_LEVEL=info
