FIXIK_HTTP_SERVER_ADDR=":8080"
FIXIK_HTTP_SERVER_READ_HEADER_TIMEOUT=5s
FIXIK_HTTP_SERVER_READ_TIMEOUT=10s
FIXIK_HTTP_SERVER_WRITE_TIMEOUT=10s
FIXIK_HTTP_SERVER_IDLE_TIMEOUT=60s
FIXIK_HTTP_SERVER_ALLOWED_ORIGINS="http://localhost:8081"

FIXIK_HTTP_DEBUG_SERVER_ADDR=":8081"
FIXIK_HTTP_DEBUG_SWAGGER_ADDR="localhost:8080"
FIXIK_HTTP_DEBUG_SERVER_READ_HEADER_TIMEOUT=5s
FIXIK_HTTP_DEBUG_SERVER_READ_TIMEOUT=10s
FIXIK_HTTP_DEBUG_SERVER_WRITE_TIMEOUT=10s
FIXIK_HTTP_DEBUG_SERVER_IDLE_TIMEOUT=60s

FIXIK_LOG_LEVEL=info

FIXIK_POSTGRES_MIGRATIONS_DIR=migrations
FIXIK_POSTGRES_URL="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"

FIXIK_AUTH_SECRET="secret"
FIXIK_AUTH_ACCESS_TOKEN_TTL="15m"
# 28 days
FIXIK_AUTH_REFRESH_TOKEN_TTL="672h"
FIXIK_AUTH_SECURE_COOKIES=false